<div class="row">
<aside class="col-sm-4">

    
   <div class="card" style="width: 18rem;">
  <img src="<%= gravatar_url(@user, { size: 500 }) %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @user.name %></h5>
    <p class="card-text"><%= @user.profile %></p>
  </div>
    <div class="card-body">
   <a href="<%= followings_user_path(@user) %>" class="card-link">フォロー<span class="badge badge-secondary"><%= @count_followings %></span></a>
   <a href="<%= followers_user_path(@user) %>" class="card-link">フォロワー<span class="badge badge-secondary"><%= @count_followers %></span></a>
  </div>
  <% if current_user == @user %>
  <div class="card-body">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= link_to '新規投稿', root_path %></li>
    <li class="list-group-item"><%= link_to 'プロフィール編集', edit_user_path(@user) %></li>
    <li class="list-group-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
  </ul>
  </div>
  <% end %>

</div> 

    <%= render 'relationships/follow_button', user: @user %>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー<span class="badge badge-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー<span class="badge badge-secondary"><%= @count_followers %></span></a></li>
    </ul>
    <%= render 'users', users: @followers %>
  </div>
</div>