
<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-3">
        <%= form_with(model: @post, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :image, class: 'form-control' %>
          <%= f.file_field :image %>
        </div>
        <%= f.submit '新規投稿', class: 'btn btn-outline-info btn-block' %>
      <% end %>
      <%= link_to 'マイページへ戻る', user_path(current_user) %>
    </aside>
     
 
    <div class="col-sm-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
  <div class="card text-center">
  <div class="card-body">
    <h1 class="card-title">ねこまみれ</h1>
    <p class="card-text">うちの自慢のねこちゃん<P>
    </P>ちょっと見ていきませんか？</p>
    <p>あなたのおうちの自慢のねこちゃん<p>
    </p>みんなに見てもらいませんか？</p>
    <p>ねこまみれな日常をはじめましょう！</p>
    <p><%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-outline-info' %></p>
    <p><%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-outline-info' %></p>
  </div>
</div>
</div>
<% end %>
    
    