
<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-3">
        <%= form_with(model: @post, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :image, class: 'form-control' %>
          <%= f.file_field :image %>
        </div>
        <%= f.submit '新規投稿', class: 'btn btn-outline-info btn-block' %>
      <% end %>
      <%= link_to 'マイページへ戻る', user_path(current_user) %>
    </aside>
     
 
    <div class="col-sm-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
  <div class="card text-center">
  <div class="card-body">
    <h1 class="card-title">ねこまみれ</h1>
    <p class="card-text">うちの自慢のねこちゃん見ていきませんか？</p>
    <p>あなたの自慢のねこちゃん見せてもらえませんか？</p>
    <p>ねこちゃんの写真を投稿して誰かに見てもらったり</p>
    <p>おきにいりのねこちゃんの写真を眺めたり</p>
    <p>そんなねこ好きなあなたの為の写真投稿サイトです。</p>
    <p>ねこまみれな日常をはじめませんか？</p>
    <p><%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-outline-info' %></p>
    <p><%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-outline-info' %></p>
  </div>
</div>
</div>
<% end %>
    
    